@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'posts.css';
@import 'gritter';
@import 'bourbon';
@import 'font-awesome';
@import 'admin_homepage.scss';

.custom-nav {
  margin-top: 15px;
}

.index-icon {
  &:hover {
    text-decoration: none;
    color: black;
  }
}